#contact-us {
  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-body {
    padding: 20px 0px;
  }

  .card-header {
    h3 {
      font-size: 22px;
    }
  }
}
