:root {
  --main-font-color: #ff3535;
  --secondary-font-color: #2a2a2a;
}

@import "./temp.scss";
@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sora");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import "./achievements.scss";
@import "./contact-us.scss";
@import "./media.scss";
@import "./competetion-teams.scss";
@import "./about-us.scss";
@import "./alumni.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

h2 {
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 0;
}
p {
  font-family: "Poppins";
}

.hero {
  display: flex;
  background-color: #eeedef;
  /* width: 100%; */
  /* margin: 0 auto; */
}

.hero-title-container {
  width: 50%;
  padding: 10em 2em 5em 4em;
}
.hero-title-container h2 {
  color: var(--secondary-font-color);
  line-height: 1.2;
  font-size: 5em;
  margin: 0;
}
.title-red {
  color: var(--main-font-color);
  /* text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.15), 0px -4px 10px rgba(255, 255, 255, 0.3); */
}
.hero-title-container p {
  width: 150%;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1.2em;
  margin-left: 0.5em;
}

@media only screen and (max-device-width: 768px) {
  .hero-title-container h2 {
    font-size: 3.5em;
  }
  .hero-title-container {
    width: 60%;
    padding: 4em 0em 5em 1.5em;
  }
  .hero-title-container p {
    font-size: 18px;
  }
}
