.hero {
  display: flex;
  background-color: #eeedef;
  /* width: 100%; */
  /* margin: 0 auto; */
}

.hero-title-container {
  width: 100%;
  padding: 10em 2em 5em 4em;
}
.hero-title-container h2 {
  color: var(--secondary-font-color);
  line-height: 1.2;
  font-size: 5em;
  margin: 0;
}
.title-red {
  color: var(--main-font-color);
  /* text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.15), 0px -4px 10px rgba(255, 255, 255, 0.3); */
}
.hero-title-container p {
  width: 150%;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1.2em;
  margin-left: 0.5em;
}
/* .heading-container {
	padding: 2em 4em;
} */
