.alumni.hero-title-container {
  padding-left: 2em;
}
.alumni-hero-description {
  line-height: 1.5;
}
.alumni-card-container {
  padding: 2em;
}
.alumni-card {
  background-color: #2a2a2a;
  color: white;
  padding: 4em 8em;
  width: 95%;
  margin: 0 auto 24px auto;
}
.alumni-card h4 {
  font-size: 24px;
}
.alumni-card p {
  font-size: 16px;
  line-height: 1.5;
}
.alumni-card p a {
  color: white;
  text-decoration: underline;
}
.alumni-card ol li {
  font-size: 16px;
}
@media only screen and (max-device-width: 690px) {
  .alumni-card {
    padding: 4em 4em;
  }
  .alumni-card p {
    font-size: 14px;
  }
}
@media only screen and (max-device-width: 468px) {
  .alumni-card-container {
    padding: 0;
  }
  .alumni-card {
    width: 100%;
  }
  .alumni-card p {
    font-size: 14px;
  }
}
